{% extends "encyclopedia/layout.html" %}



{% block body %}
{% if title %}
   
    <p> {{ body|safe }}  </p>
    <form action="{% url 'encyclopedia:edit' %}">
        {% csrf_token %}
        <button type="text" name="title" label="edit" value="{{ title }}">Editar</button> 
    </form>

{% endif %}
{% if result %}  
<h3>Results of your search...</h3>
    <p></p>
    <ul>
        {% for res in result %}
            <li><a href="/{{ res }}"> {{ res }}</a></li>
        {% endfor %}
    </ul>
    
{% endif %}
{% endblock %}